* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.row {
  margin: 0;
  float: left;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none !important;
  color: unset;
}

a {
  color: unset;
  text-decoration: none;
}

input:focus-visible {
  outline: unset;
}

img,
svg,
i {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0 !important;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
select:focus,
select:focus-visible {
  outline: 0;
  font-family: "Outfit" !important;
}

section,
footer,
header {
  width: 100%;
  display: block;
  float: left;
}

a,
.button {
  transition: all 0.3s ease-out 0s;
}

/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2");
}
/* outfit-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/outfit-v11-latin-500.woff2") format("woff2");
}
/* outfit-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/outfit-v11-latin-600.woff2") format("woff2");
}
/* outfit-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2");
}
body {
  font-family: "Outfit" !important;
}
body .banner_section {
  background: url("../images/bannerLeftTop.png") no-repeat left top, url("../images/bannerRightTop.png") no-repeat right top, url("../images/bannerLeftBottom.png") no-repeat left bottom, url("../images/leftImg.png") no-repeat 5% center, url("../images/centerImg.png") no-repeat 40% 20%, linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  float: left;
  width: 100%;
  display: block;
}
body .banner_section::before {
  transition-duration: 0.5s;
  position: absolute;
  width: 29px;
  height: 29px;
  background: #aaf40c;
  content: "";
  top: 15vw;
  left: 15vw;
  border-radius: 50%;
}
body .banner_section::after {
  transition-duration: 0.5s;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #aaf40c;
  content: "";
  top: unset;
  bottom: 60px;
  max-width: 100%;
  right: 60px;
  border-radius: 50%;
}
body .banner_section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(10px, 2vh, 18px) clamp(10px, 2vw, 30px);
}
body .banner_section header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}
@media (max-width: 1360px) {
  body .banner_section header .logo {
    width: 310px;
  }
}
@media (max-width: 768px) {
  body .banner_section header .logo {
    width: auto;
  }
}
body .banner_section header .logo_section {
  width: 202px;
}
body .banner_section header .logo_section img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  body .banner_section header .logo_section img {
    width: 100%;
    height: 100%;
  }
}
body .banner_section header .logo .searchSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .banner_section header .logo .searchSection input {
  background: transparent;
  border: unset;
  max-width: 50px;
}
body .banner_section header .logo .searchSection input::-moz-placeholder {
  color: #fff;
}
body .banner_section header .logo .searchSection input::placeholder {
  color: #fff;
}
@media (max-width: 576px) {
  body .banner_section header .logo .searchSection {
    display: none;
  }
}
body .banner_section header .menu_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(20px, 1vw, 30px);
}
@media (max-width: 1200px) {
  body .banner_section header .menu_section {
    position: fixed;
    height: 100vh;
    flex-direction: column;
    right: 0;
    top: 0;
    justify-content: flex-start;
    padding: 80px 0 0 40px;
    background: #fff;
    color: #192335;
    width: 300px;
    transform: translateX(300px);
    transition: all 1s;
    align-items: self-start;
    z-index: 22;
  }
  body .banner_section header .menu_section.open {
    transform: translateX(0px);
  }
}
body .banner_section header .menu_section li {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
@media (max-width: 1200px) {
  body .banner_section header .menu_section li {
    color: #192335;
  }
}
body .banner_section header .menu_section li.active, body .banner_section header .menu_section li:hover {
  color: #aaf40c;
}
body .banner_section header .menu_section li.active::after, body .banner_section header .menu_section li:hover::after {
  content: "";
  display: block;
  bottom: 100%;
  position: absolute;
  width: 100%;
  height: 18px;
  background: url(../images/active-icon.svg) no-repeat center;
}
body .banner_section header .button_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
body .banner_section header .button_section button {
  border-radius: 10px;
  background: #fff;
  color: #097e52;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
}
@media (max-width: 768px) {
  body .banner_section header .button_section button {
    padding: 13px 20px;
  }
}
body .banner_section header .button_section button + button {
  border-radius: 10px;
  background: #192335;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
}
@media (max-width: 768px) {
  body .banner_section header .button_section button + button {
    padding: 13px 20px;
  }
}
@media (max-width: 992px) {
  body .banner_section header .button_section button + button {
    font-size: 0;
    padding: 10px;
    aspect-ratio: 1;
    gap: 0;
  }
}
@media (max-width: 992px) {
  body .banner_section header .button_section button {
    font-size: 0;
    padding: 10px;
    aspect-ratio: 1;
    gap: 0;
  }
}
body .banner_section header .button_section .menu {
  position: relative;
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
  display: none;
  z-index: 23;
}
@media (max-width: 1200px) {
  body .banner_section header .button_section .menu {
    display: block;
  }
}
body .banner_section header .button_section .menu .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 15px;
  top: 14px;
  background: #192335;
}
body .banner_section header .button_section .menu .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background: #192335;
  content: "";
  top: -10px;
}
body .banner_section header .button_section .menu .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background: #192335;
  content: "";
  top: 10px;
}
body .banner_section header .button_section .menu .icon-left:hover {
  cursor: pointer;
}
body .banner_section header .button_section .menu .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 15px;
  top: 14px;
  background: #192335;
  left: 15px;
}
body .banner_section header .button_section .menu .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background: #192335;
  content: "";
  top: -10px;
}
body .banner_section header .button_section .menu .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 4px;
  background: #192335;
  content: "";
  top: 10px;
}
body .banner_section header .button_section .menu.open {
  position: fixed;
  top: 20px;
  right: 25px;
}
body .banner_section header .button_section .menu.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
body .banner_section header .button_section .menu.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}
body .banner_section header .button_section .menu.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}
body .banner_section header .button_section .menu.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
body .banner_section header .button_section .menu.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}
body .banner_section header .button_section .menu.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}
body .banner_section header .button_section .menu:hover {
  cursor: pointer;
}
body .banner_section .banner {
  min-height: calc(100vh - 94px);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .banner_section .banner .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .banner_section .banner_text p {
  color: #aaf40c;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
body .banner_section .banner_text h1 {
  color: #fff;
  font-size: clamp(38px, 3vw, 62px);
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 10px 0 20px 0;
}
body .banner_section .banner_text h1 span {
  color: #aaf40c;
}
body .banner_section .banner_text h1 + p {
  color: #eee;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
body .banner_section .banner_text .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background-color: #fff;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  gap: 40px;
}
body .banner_section .banner_text .search_courts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 0;
  position: relative;
}
@media (max-width: 768px) {
  body .banner_section .banner_text .search_courts {
    gap: 6px;
  }
}
body .banner_section .banner_text .search_courts label {
  color: #192335;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
body .banner_section .banner_text .search_courts select {
  color: #6b7385;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: unset;
}
body .banner_section .banner_text .search_courts:first-child::after {
  transition-duration: 0.5s;
  position: absolute;
  width: 1px;
  height: 90%;
  background: #eaedf0;
  content: "";
  top: 5%;
  right: -20px;
}
@media (max-width: 768px) {
  body .banner_section .banner_text .search_courts:first-child::after {
    right: -5px;
  }
}
body .banner_section .banner_text .search_button button {
  border-radius: 10px;
  background: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
}
@media (max-width: 768px) {
  body .banner_section .banner_text .search_button button {
    padding: 13px 20px;
  }
}
@media (max-width: 768px) {
  body .banner_section .banner_text .search {
    padding: 10px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  body .banner_section .banner_text {
    padding-bottom: 40px;
  }
}
body .banner_section .banner_image {
  width: calc(100% - 100px);
  position: relative;
  margin: 40px auto;
}
body .banner_section .banner_image::before {
  transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  top: unset;
  bottom: 0;
  rotate: 15deg;
  z-index: 1;
  border-radius: 257px;
  transform-origin: bottom;
  translate: -10px -33px;
  scale: 0.9;
}
body .banner_section .banner_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 2;
}
body .works {
  padding: 60px 0 80px 0;
  position: relative;
  overflow: hidden;
  background: url("../images/centerImg.png") no-repeat 7% 20%;
}
body .works .section_header {
  color: #192335;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 20px 0;
  background: url(../images/header-bg.svg) no-repeat center;
}
body .works .section_header span {
  background: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  body .works .section_header {
    color: #192335;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
}
body .works .sub_text {
  color: #192335;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 15px;
  max-width: 670px;
  margin: auto;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  body .works .sub_text {
    color: #192335;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  body .works {
    padding: 35px 0 40px 0;
  }
  body .works .section_header {
    color: #192335;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
  body .works .sub_text {
    color: #192335;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  body .works {
    padding-bottom: 427px;
  }
}
body .works::before {
  transition-duration: 0.5s;
  position: absolute;
  width: 360px;
  height: 360px;
  background: #097e52;
  content: "";
  top: unset;
  bottom: -42px;
  right: -82px;
  border-radius: 50%;
  z-index: -1;
}
body .works::after {
  transition-duration: 0.5s;
  position: absolute;
  width: 257px;
  height: 460px;
  background: url(../images/workBG.png);
  content: "";
  top: unset;
  bottom: 0px;
  z-index: -1;
  right: 0px;
}
body .works .card {
  border-radius: 10px;
  border: 1px solid var(--Stroke, #eaedf0);
  background: var(--White, #fff);
  box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
  padding: 40px;
  text-align: center;
  transition: 0.5s;
}
@media (max-width: 992px) {
  body .works .card {
    margin-bottom: 20px;
  }
}
body .works .card_image {
  width: 80px;
  aspect-ratio: 1;
  rotate: 45deg;
  border-radius: 10px;
  margin: auto;
  background: #f9f9f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .works .card_image span {
  rotate: -45deg;
}
body .works .card_image span svg {
  transition: 0.5s;
}
body .works .card_image span svg path {
  fill: #6b7385;
}
body .works .card_title {
  color: #192335;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 50px 0 15px 0;
}
body .works .card_text {
  color: #6b7385;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
body .works .card_button {
  margin-top: 40px;
}
body .works .card_button button {
  border-radius: 10px;
  background: #fff;
  color: #192335;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: 1px solid var(--Title, #192335);
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  body .works .card_button button {
    padding: 13px 20px;
  }
}
body .works .card:hover {
  transition: 0.5s;
}
body .works .card:hover .card_image {
  transition: 0.5s;
  background: #097e52;
}
body .works .card:hover .card_image svg {
  transition: 0.5s;
}
body .works .card:hover .card_image svg path {
  fill: #fff;
}
body .works .card:hover button {
  border-radius: 10px;
  background: #192335;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  transition: 0.5s;
}
@media (max-width: 768px) {
  body .works .card:hover button {
    padding: 13px 20px;
  }
}
body .works .card:hover button path {
  fill: #fff;
}
body .featured {
  padding: 60px 0 80px 0;
  background: #f9f9f6 url("../images/Venues.png") no-repeat left bottom;
}
body .featured .section_header {
  color: #192335;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 20px 0;
  background: url(../images/header-bg.svg) no-repeat center;
}
body .featured .section_header span {
  background: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  body .featured .section_header {
    color: #192335;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
}
body .featured .sub_text {
  color: #192335;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 15px;
  max-width: 670px;
  margin: auto;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  body .featured .sub_text {
    color: #192335;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  body .featured {
    padding: 35px 0 40px 0;
  }
  body .featured .section_header {
    color: #192335;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
  body .featured .sub_text {
    color: #192335;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
body .featured_slider .slick-arrow {
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
  width: 46px;
  height: 46px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .featured_slider .slick-arrow:before {
  content: "";
  background: url(../images/chevron-left.svg) no-repeat center;
  width: 16px;
  height: 16px;
  display: block;
}
body .featured_slider .slick-arrow.slick-prev {
  left: -14px;
}
body .featured_slider .slick-arrow.slick-next {
  right: -14px;
}
body .featured_slider .slick-arrow.slick-next:before {
  rotate: 180deg;
}
@media (max-width: 768px) {
  body .featured_slider .slick-arrow {
    width: 34px;
    height: 34px;
  }
  body .featured_slider .slick-arrow.slick-prev {
    left: -6px;
  }
  body .featured_slider .slick-arrow.slick-next {
    right: -6px;
  }
  body .featured_slider .slick-arrow.slick-next:before {
    rotate: 180deg;
  }
}
body .featured_slider_card {
  width: calc(100% - 24px);
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
  overflow: hidden;
}
body .featured_slider_card_banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1.56;
}
body .featured_slider_card_banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .featured_slider_card_banner_notifation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  top: 0;
  left: 0;
  width: 100%;
}
body .featured_slider_card_banner_notifation .rated-part {
  color: #fff;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: var(--blue-title, #0caef4);
  padding: 5px 10px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .featured_slider_card_banner_notifation .hr-section {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  padding: 5px 10px;
  background: var(--Primary, #097e52);
}
body .featured_slider_card_banner_notifation .hr-section span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
body .featured_slider_card_content {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
}
body .featured_slider_card_content_reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
body .featured_slider_card_content_reviews_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
body .featured_slider_card_content_reviews_section_point {
  border-radius: 5px;
  padding: 5px;
  background: var(--yellow-darrk, #fa0);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
body .featured_slider_card_content_reviews_section_view {
  color: #6b7385;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
body .featured_slider_card_content_reviews .review {
  border: 1px solid #eaedf0;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .featured_slider_card_content_reviews .review svg path {
  fill: #192335;
}
body .featured_slider_card_content_reviews .review:hover, body .featured_slider_card_content_reviews .review.active {
  border-color: #23b33a;
  background-color: #23b33a;
}
body .featured_slider_card_content_reviews .review:hover svg path, body .featured_slider_card_content_reviews .review.active svg path {
  fill: #fff;
}
body .featured_slider_card_content_detiel {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
body .featured_slider_card_content_detiel h3 {
  color: #192335;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
body .featured_slider_card_content_detiel p {
  color: #6b7385;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
body .featured_slider_card_content_detiel p + p {
  color: #192335;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .featured_slider_card_content_detiel p + p span {
  color: #097e52;
}
body .featured_slider_card_content_booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eaedf0;
}
body .featured_slider_card_content_booking_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
body .featured_slider_card_content_booking_profile img {
  width: 45px;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .featured_slider_card_content_booking_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
body .featured .section-button {
  margin-top: 50px;
}
body .featured .section-button button {
  border-radius: 10px;
  background: #192335;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  margin: auto;
}
@media (max-width: 768px) {
  body .featured .section-button button {
    padding: 13px 20px;
  }
}
body .subscribe {
  padding: 80px 0;
  background: #fff;
  position: relative;
  background: url("../images/leftImg.png") no-repeat 5% 10%, url("../images/topImg.png") no-repeat 95% 10%;
}
body .subscribe::before {
  transition-duration: 0.5s;
  position: absolute;
  width: 380px;
  height: 380px;
  background: #097e52;
  content: "";
  top: unset;
  bottom: 0px;
  left: -240px;
  border-radius: 50%;
  z-index: 0;
}
body .subscribe::after {
  transition-duration: 0.5s;
  position: absolute;
  width: 520px;
  height: 370px;
  background: url(../images/subscribe-bg.png) no-repeat right bottom;
  content: "";
  top: unset;
  bottom: 0px;
  max-width: 100%;
  left: -70px;
}
@media (max-width: 992px) {
  body .subscribe::before, body .subscribe::after {
    display: none;
  }
}
@media (max-width: 1360px) {
  body .subscribe .container {
    max-width: 600px;
  }
}
body .subscribe_section {
  display: flex;
  flex-wrap: wrap-reverse;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1360px) {
  body .subscribe_image {
    width: 100%;
    aspect-ratio: 4;
  }
}
@media (max-width: 992px) {
  body .subscribe_image {
    display: none;
  }
}
body .subscribe_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
body .subscribe_parts {
  background: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 527px);
}
@media (max-width: 1360px) {
  body .subscribe_parts {
    width: 100%;
  }
}
body .subscribe_part {
  width: 553px;
  max-width: 90%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}
body .subscribe_part h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
body .subscribe_part p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
body .subscribe_part_input {
  position: relative;
  margin-top: 30px;
}
body .subscribe_part_input input {
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 140px 10px 50px;
  border: unset;
}
@media (max-width: 768px) {
  body .subscribe_part_input input {
    height: 63px;
  }
}
body .subscribe_part_input button {
  position: absolute;
  border-radius: 10px;
  background: #192335;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  top: 10px;
  right: 10px;
}
@media (max-width: 768px) {
  body .subscribe_part_input button {
    padding: 13px 20px;
  }
}
body .subscribe_part_input span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  left: 20px;
  top: calc(50% - 10px);
}
body footer {
  background: #0a1a38;
  padding: 60px 0 80px 0;
  padding-bottom: 0 !important;
}
body footer .section_header {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 20px 0;
  background: url(../images/header-bg.svg) no-repeat center;
}
body footer .section_header span {
  background: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  body footer .section_header {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
}
body footer .sub_text {
  color: #6b7385;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 15px;
  max-width: 670px;
  margin: auto;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  body footer .sub_text {
    color: #6b7385;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  body footer {
    padding: 35px 0 40px 0;
  }
  body footer .section_header {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
  body footer .sub_text {
    color: #6b7385;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
body footer .section_header {
  background: unset;
}
body footer button {
  border-radius: 10px;
  background: #097e52;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  border: unset;
  font-family: "Outfit" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  margin: auto;
}
@media (max-width: 768px) {
  body footer button {
    padding: 13px 20px;
  }
}
body footer .footer_section {
  padding-top: 40px;
  border-top: 1px solid #192335;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
body footer .footer_section_content {
  flex: 1 1 180px;
}
body footer .footer_section_content h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}
body footer .footer_section_content ul {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
}
body footer .footer_section_content ul li {
  color: #6b7385;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
body footer .footer_section_content .app-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #192335;
  padding: 10px 30px;
  margin-bottom: 15px;
  width: 200px;
}
body footer .footer_section_content .app-link p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
body footer .footer_section_content .app-link h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
body footer .footer_section_content:first-child p {
  color: #6b7385;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
body footer .footer_section_content:first-child p a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 10px 0 20px 0;
  display: block;
}
body footer .footer_section_content:first-child ul {
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}
body footer .footer_section_content:first-child ul li {
  background: rgba(168, 168, 168, 0.2);
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  body footer .footer_section_content {
    width: 100%;
    flex: unset;
    text-align: center;
  }
  body footer .footer_section_content ul {
    justify-content: center !important;
  }
  body footer .footer_section_content .app-link {
    margin-inline: auto;
  }
}
body footer .copyRights {
  padding: 20px 0;
  border-top: 1px solid #192335;
  margin-top: 40px;
}
body footer .copyRights_section {
  flex-wrap: wrap-reverse;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .copyRights_section p {
  color: #6b7385;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
body footer .copyRights_section .select-contery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
body footer .copyRights_section .select-contery select {
  color: #6b7385;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: unset;
  background: transparent;
}/*# sourceMappingURL=style.css.map */