// / Global css /
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.row {
    margin: 0;
    float: left;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none !important;
    color: unset;
}

a {
    color: unset;
    text-decoration: none;
}

input:focus-visible {
    outline: unset;
}

img,
svg,
i {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0 !important;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
select:focus,
select:focus-visible {
    outline: 0;
    font-family: "Outfit" !important;
}

section,
footer,
header {
    width: 100%;
    display: block;
    float: left;
}

a,
.button {
    transition: all 0.3s ease-out 0s;
}
// font 
/* outfit-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2");
}
/* outfit-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/outfit-v11-latin-500.woff2") format("woff2");
}
/* outfit-600 - latin */
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/outfit-v11-latin-600.woff2") format("woff2");
}
/* outfit-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2");
}
// color code

$activeColors: #aaf40c;
$white: #fff;
$title: #192335;
$primary: #097e52;
$linearGradient: linear-gradient(94deg, #006177 -2.6%, #269089 67.39%, #7abc82 110.84%);
$colorLight: #f9f9f6;
$secondary: #23b33a;
$yellowDarrk: #fa0;
$stroke: #eaedf0;
$bodyText: #6b7385;
$roundCorner: 10px;

// breakpoint
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xXlarge: 1360px;

@mixin displayPart($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}
@mixin fontcountrol($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: normal;
}
@mixin button($background, $color) {
    border-radius: $roundCorner;
    background: $background;
    color: $color;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;
    border: unset;
    font-family: "Outfit" !important;
    @include displayPart(flex, center, center);
    padding: 15px 25px;
    @include respondLayout($breakpoint-medium) {
        padding: 13px 20px;
    }
}
@mixin sectionmain($headerColor, $sudText) {
    padding: 60px 0 80px 0;
    .section_header {
        @include fontcountrol($headerColor, 32px, 700);
        text-align: center;
        padding: 20px 0;
        background: url(../images/header-bg.svg) no-repeat center;
        span {
            background: $linearGradient;
            -webkit-background-clip: text;
            background-clip: text;

            -webkit-text-fill-color: transparent;
        }
        @include respondLayout($breakpoint-medium) {
            @include fontcountrol($headerColor, 28px, 700);
        }
    }
    .sub_text {
        @include fontcountrol($sudText, 20px, 400);
        text-align: center;
        padding-bottom: 15px;
        max-width: 670px;
        margin: auto;
        padding-bottom: 40px;
        @include respondLayout($breakpoint-medium) {
            @include fontcountrol($sudText, 18px, 400);
        }
    }
    @include respondLayout($breakpoint-medium) {
        padding: 35px 0 40px 0;
        .section_header {
            @include fontcountrol($headerColor, 28px, 700);
        }
        .sub_text {
            @include fontcountrol($sudText, 18px, 400);
        }
    }
}
@mixin respondLayout($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 14px;
    background: $title;
}

@mixin icon-before($height, $width, $top, $background) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background: $background;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top, $background) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background: $background;
    content: "";
    top: $top;
}

body {
    font-family: "Outfit" !important;
    .banner_section {
        background:
            url("../images/bannerLeftTop.png") no-repeat left top,
            url("../images/bannerRightTop.png") no-repeat right top,
            url("../images/bannerLeftBottom.png") no-repeat left bottom,
            url("../images/leftImg.png") no-repeat 5% center,
            url("../images/centerImg.png") no-repeat 40% 20%,
            $linearGradient;
        float: left;
        width: 100%;
        display: block;
        &::before {
            @include icon-after(29px, 29px, 15vw, $activeColors);
            left: 15vw;
            border-radius: 50%;
        }
        &::after {
            @include icon-after(18px, 18px, unset, $activeColors);
            bottom: 60px;
            max-width: 100%;
            right: 60px;
            border-radius: 50%;
        }
        header {
            @include displayPart(flex, center, space-between);
            padding: clamp(10px, 2vh, 18px) clamp(10px, 2vw, 30px);
            .logo {
                @include displayPart(flex, center, space-between);
                width: 360px;
                @include respondLayout($breakpoint-xXlarge) {
                    width: 310px;
                }
                @include respondLayout($breakpoint-medium) {
                    width: auto;
                }
                &_section {
                    width: 202px;
                    img {
                        object-fit: contain;
                        object-position: center;
                        @include respondLayout($breakpoint-medium) {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .searchSection {
                    @include displayPart(flex, center, center);
                    gap: 10px;
                    input {
                        background: transparent;
                        border: unset;
                        max-width: 50px;
                        &::placeholder {
                            color: $white;
                        }
                    }
                    @include respondLayout($breakpoint-small) {
                        display: none;
                    }
                }
            }
            .menu_section {
                @include displayPart(flex, center, space-between);
                gap: clamp(20px, 1vw, 30px);
                @include respondLayout($breakpoint-xlarge) {
                    position: fixed;
                    height: 100vh;
                    flex-direction: column;
                    right: 0;
                    top: 0;
                    justify-content: flex-start;
                    padding: 80px 0 0 40px;
                    background: $white;
                    color: $title;
                    width: 300px;
                    transform: translateX(300px);
                    transition: all 1s;
                    align-items: self-start;
                    z-index: 22;
                    &.open {
                        transform: translateX(0px);
                    }
                }

                li {
                    @include fontcountrol($white, 16px, 500);
                    position: relative;
                    @include respondLayout($breakpoint-xlarge) {
                        color: $title;
                    }

                    &.active,
                    &:hover {
                        color: $activeColors;
                        &::after {
                            content: "";
                            display: block;
                            bottom: 100%;
                            position: absolute;
                            width: 100%;
                            height: 18px;
                            background: url(../images/active-icon.svg) no-repeat center;
                        }
                    }
                }
            }
            .button_section {
                @include displayPart(flex, center, space-between);
                gap: 10px;
                button {
                    @include button($white, $primary);

                    + button {
                        @include button($title, $white);
                        @include respondLayout($breakpoint-large) {
                            font-size: 0;
                            padding: 10px;
                            aspect-ratio: 1;
                            gap: 0;
                        }
                    }
                    @include respondLayout($breakpoint-large) {
                        font-size: 0;
                        padding: 10px;
                        aspect-ratio: 1;
                        gap: 0;
                    }
                }
                .menu {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    transition-duration: 0.5s;
                    display: none;
                    z-index: 23;
                    @include respondLayout($breakpoint-xlarge) {
                        display: block;
                    }
                    .icon-left {
                        @include icon(4px, 15px);

                        &:before {
                            @include icon-before(4px, 15px, -10px, $title);
                        }

                        &:after {
                            @include icon-after(4px, 15px, 10px, $title);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .icon-right {
                        @include icon(4px, 15px);
                        left: 15px;

                        &:before {
                            @include icon-before(4px, 15px, -10px, $title);
                        }

                        &:after {
                            @include icon-after(4px, 15px, 10px, $title);
                        }
                    }

                    &.open {
                        position: fixed;
                        top: 20px;
                        right: 25px;
                        .icon-left {
                            transition-duration: 0.5s;
                            background: transparent;

                            &:before {
                                transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
                            }

                            &:after {
                                transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
                            }
                        }

                        .icon-right {
                            transition-duration: 0.5s;
                            background: transparent;

                            &:before {
                                transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
                            }

                            &:after {
                                transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .banner {
            min-height: calc(100vh - 94px);
            @include displayPart(flex, center, center);
            .row {
                @include displayPart(flex, center, center);
            }
            &_text {
                p {
                    @include fontcountrol($activeColors, 20px, 400);
                }
                h1 {
                    @include fontcountrol($white, clamp(38px, 3vw, 62px), 700);
                    text-transform: capitalize;
                    span {
                        color: $activeColors;
                    }
                    padding: 10px 0 20px 0;
                    & + p {
                        @include fontcountrol(#eee, 20px, 400);
                    }
                }
                .search {
                    @include displayPart(flex, center, space-between);
                    margin-top: 40px;
                    background-color: $white;
                    padding: 10px 20px 10px 10px;
                    border-radius: $roundCorner;
                    gap: 40px;
                    &_courts {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        flex: 1 0 0;
                        position: relative;
                        @include respondLayout($breakpoint-medium) {
                            gap: 6px;
                        }
                        label {
                            @include fontcountrol($title, 16px, 500);
                        }
                        select {
                            @include fontcountrol($bodyText, 16px, 400);
                            border: unset;
                        }
                        &:first-child {
                            &::after {
                                @include icon-after(90%, 1px, 5%, #eaedf0);
                                right: -20px;
                                @include respondLayout($breakpoint-medium) {
                                    right: -5px;
                                }
                            }
                        }
                    }
                    &_button {
                        button {
                            @include button($linearGradient, $white);
                        }
                    }
                    @include respondLayout($breakpoint-medium) {
                        padding: 10px;
                        gap: 10px;
                    }
                }
                @include respondLayout($breakpoint-medium) {
                    padding-bottom: 40px;
                }
            }
            &_image {
                width: calc(100% - 100px);
                position: relative;
                margin: 40px auto;
                &::before {
                    @include icon-before(100%, 100%, unset, $white);
                    bottom: 0;
                    rotate: 15deg;
                    z-index: 1;
                    border-radius: 257px;
                    transform-origin: bottom;
                    translate: -10px -33px;
                    scale: 0.9;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    .works {
        @include sectionmain($title, $title);
        position: relative;
        overflow: hidden;
        background: url("../images/centerImg.png") no-repeat 7% 20%;
        @include respondLayout($breakpoint-medium) {
            padding-bottom: 427px;
        }
        &::before {
            @include icon-after(360px, 360px, unset, $primary);
            bottom: -42px;
            right: -82px;
            border-radius: 50%;
            z-index: -1;
        }
        &::after {
            @include icon-after(460px, 257px, unset, url(../images/workBG.png));
            bottom: 0px;
            z-index: -1;
            right: 0px;
        }
        .card {
            border-radius: $roundCorner;
            border: 1px solid var(--Stroke, #eaedf0);
            background: var(--White, #fff);
            box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
            padding: 40px;
            text-align: center;
            transition: 0.5s;
            @include respondLayout($breakpoint-large) {
                margin-bottom: 20px;
            }
            &_image {
                width: 80px;
                aspect-ratio: 1;
                rotate: 45deg;
                border-radius: $roundCorner;
                margin: auto;
                background: #f9f9f6;
                @include displayPart(flex, center, center);

                span {
                    rotate: -45deg;
                    svg {
                        path {
                            fill: $bodyText;
                        }
                        transition: 0.5s;
                    }
                }
            }
            &_title {
                @include fontcountrol($title, 24px, 600);
                margin: 50px 0 15px 0;
            }
            &_text {
                @include fontcountrol($bodyText, 16px, 400);
            }
            &_button {
                margin-top: 40px;
                button {
                    @include button($white, $title);
                    border: 1px solid $Title;
                    width: 100%;
                    transition: 0.5s;
                }
            }
            &:hover {
                transition: 0.5s;
                .card_image {
                    transition: 0.5s;
                    background: $primary;
                    svg {
                        transition: 0.5s;
                        path {
                            fill: $white;
                        }
                    }
                }

                button {
                    @include button($title, $white);
                    transition: 0.5s;
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
    .featured {
        @include sectionmain($title, $title);
        background: #f9f9f6 url("../images/Venues.png") no-repeat left bottom;
        &_slider {
            .slick-arrow {
                border-radius: 50px;
                background: $white;
                box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
                width: 46px;
                height: 46px;
                z-index: 1;
                @include displayPart(flex, center, center);

                &:before {
                    content: "";
                    background: url(../images/chevron-left.svg) no-repeat center;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
                &.slick-prev {
                    left: -14px;
                }
                &.slick-next {
                    right: -14px;
                    &:before {
                        rotate: 180deg;
                    }
                }
                @include respondLayout($breakpoint-medium) {
                    width: 34px;
                    height: 34px;
                    &.slick-prev {
                        left: -6px;
                    }
                    &.slick-next {
                        right: -6px;
                        &:before {
                            rotate: 180deg;
                        }
                    }
                }
            }
            &_card {
                width: calc(100% - 24px);
                margin: auto;
                background: $white;
                border-radius: $roundCorner;
                box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
                overflow: hidden;
                &_banner {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1.56;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    &_notifation {
                        position: absolute;
                        @include displayPart(flex, center, space-between);
                        padding: 24px;
                        top: 0;
                        left: 0;
                        width: 100%;
                        .rated-part {
                            color: $white;
                            text-align: center;
                            @include fontcountrol($white, 14px, 400);
                            border-radius: 5px;
                            background: var(--blue-title, #0caef4);
                            padding: 5px 10px;
                            align-self: stretch;
                            @include displayPart(flex, center, center);
                        }
                        .hr-section {
                            @include fontcountrol($white, 18px, 600);
                            border-radius: 5px;
                            padding: 5px 10px;
                            background: var(--Primary, #097e52);
                            span {
                                @include fontcountrol($white, 14px, 400);
                            }
                        }
                    }
                }
                &_content {
                    padding: 24px;
                    border-radius: $roundCorner;
                    box-shadow: 0px 4px 24px 0px rgba(212, 212, 212, 0.25);
                    &_reviews {
                        @include displayPart(flex, center, space-between);
                        padding-bottom: 15px;
                        &_section {
                            @include displayPart(flex, center, space-between);
                            gap: 7px;
                            &_point {
                                border-radius: 5px;
                                padding: 5px;
                                background: var(--yellow-darrk, #fa0);
                                @include fontcountrol($white, 14px, 400);
                            }
                            &_view {
                                @include fontcountrol($bodyText, 14px, 400);
                            }
                        }
                        .review {
                            border: 1px solid #eaedf0;
                            width: 30px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            @include displayPart(flex, center, center);
                            svg path {
                                fill: $title;
                            }
                            &:hover,
                            &.active {
                                border-color: $secondary;
                                background-color: $secondary;
                                svg path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                    &_detiel {
                        @include displayPart(flex, self-start, center);
                        flex-direction: column;
                        gap: 15px;
                        h3 {
                            @include fontcountrol($title, 24px, 600);
                        }
                        p {
                            @include fontcountrol($bodyText, 16px, 400);
                            & + p {
                                @include fontcountrol($title, 16px, 400);
                                @include displayPart(flex, center, center);
                                gap: 5px;
                                span {
                                    color: $primary;
                                }
                            }
                        }
                    }
                    &_booking {
                        @include displayPart(flex, center, space-between);
                        padding-top: 15px;
                        margin-top: 15px;
                        border-top: 1px solid #eaedf0;
                        &_profile {
                            @include displayPart(flex, center, space-between);
                            gap: 10px;
                            img {
                                width: 45px;
                                aspect-ratio: 1;
                                display: block;
                                border-radius: 50%;
                                object-fit: cover;
                                object-position: center;
                                // border: 3px solid var(--Stroke, #EAEDF0);
                            }
                        }
                        &_btn {
                            @include displayPart(flex, center, space-between);
                            gap: 10px;
                        }
                    }
                }
            }
        }
        .section-button {
            margin-top: 50px;
            button {
                @include button($title, $white);
                margin: auto;
            }
        }
    }
    .subscribe {
        padding: 80px 0;
        background: $white;
        position: relative;
        background:
            url("../images/leftImg.png") no-repeat 5% 10%,
            url("../images/topImg.png") no-repeat 95% 10%;
        &::before {
            @include icon-after(380px, 380px, unset, $primary);
            bottom: 0px;
            left: -240px;
            border-radius: 50%;
            z-index: 0;
        }
        &::after {
            @include icon-after(370px, 520px, unset, url(../images/subscribe-bg.png) no-repeat right bottom);
            bottom: 0px;
            max-width: 100%;
            left: -70px;
        }
        @include respondLayout($breakpoint-large) {
            &::before,
            &::after {
                display: none;
            }
        }
        .container {
            @include respondLayout($breakpoint-xXlarge) {
                max-width: 600px;
            }
        }
        &_section {
            display: flex;
            flex-wrap: wrap-reverse;
            border-radius: 10px;
            overflow: hidden;
        }
        &_image {
            @include respondLayout($breakpoint-xXlarge) {
                width: 100%;
                aspect-ratio: 4;
            }
            @include respondLayout($breakpoint-large) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
        }

        &_parts {
            background: $linearGradient;
            @include displayPart(flex, center, center);
            width: calc(100% - 527px);
            @include respondLayout($breakpoint-xXlarge) {
                width: 100%;
            }
        }
        &_part {
            width: 553px;
            max-width: 90%;
            @include displayPart(flex, stretch, center);
            flex-direction: column;
            gap: 10px;

            padding: 30px 0;
            &_icon {
                img {
                }
            }
            h2 {
                @include fontcountrol($white, 36px, 700);
            }
            p {
                @include fontcountrol($white, 20px, 400);
            }
            &_input {
                position: relative;
                margin-top: 30px;

                input {
                    width: 100%;
                    height: 70px;
                    background: $white;
                    border-radius: $roundCorner;
                    padding: 10px 140px 10px 50px;
                    border: unset;
                    @include respondLayout($breakpoint-medium) {
                        height: 63px;
                    }
                }
                button {
                    position: absolute;
                    @include button($title, $white);
                    top: 10px;
                    right: 10px;
                }
                span {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    display: block;
                    left: 20px;
                    top: calc(50% - 10px);
                }
            }
        }
    }
    footer {
        background: #0a1a38;
        @include sectionmain($white, $bodyText);
        .section_header {
            background: unset;
        }
        padding-bottom: 0 !important;
        button {
            @include button($primary, $white);
            margin: auto;
        }
        .footer_section {
            padding-top: 40px;
            border-top: 1px solid $title;
            margin-top: 40px;
            @include displayPart(flex, center, space-between);
            flex-wrap: wrap;
            row-gap: 30px;
            &_content {
                flex: 1 1 180px;
                h4 {
                    @include fontcountrol($white, 20px, 600);
                    margin-bottom: 25px;
                }
                ul {
                    @include displayPart(flex, stretch, center);
                    flex-direction: column;
                    gap: 13px;
                    li {
                        @include fontcountrol($bodyText, 16px, 400);
                    }
                }
                .app-link {
                    @include displayPart(flex, center, flex-start);
                    gap: 10px;
                    border-radius: 5px;
                    border: 1px solid $title;
                    padding: 10px 30px;
                    margin-bottom: 15px;
                    width: 200px;
                    p {
                        @include fontcountrol($white, 14px, 400);
                    }
                    h6 {
                        @include fontcountrol($white, 15px, 500);
                    }
                }
                &:first-child {
                    p {
                        @include fontcountrol($bodyText, 14px, 400);
                        a {
                            @include fontcountrol($white, 16px, 500);
                            padding: 10px 0 20px 0;
                            display: block;
                        }
                    }
                    ul {
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 15px;
                        li {
                            background: rgba(168, 168, 168, 0.2);
                            width: 24px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            @include displayPart(flex, center, center);
                        }
                    }
                }
                @include respondLayout($breakpoint-small) {
                    width: 100%;
                    flex: unset;
                    text-align: center;
                    ul {
                        justify-content: center !important;
                    }
                    .app-link {
                        margin-inline: auto;
                    }
                }
            }
        }

        .copyRights {
            padding: 20px 0;
            border-top: 1px solid $title;
            margin-top: 40px;
            &_section {
                flex-wrap: wrap-reverse;
                gap: 20px;
                @include displayPart(flex, center, space-between);
                p {
                    @include fontcountrol($bodyText, 16px, 400);
                }
                .select-contery {
                    @include displayPart(flex, center, space-between);
                    gap: 30px;

                    select {
                        @include fontcountrol($bodyText, 16px, 500);
                        border: unset;
                        background: transparent;
                    }
                }
            }
        }
    }
}
